---
import AboutHeroImage from '../assets/about-headshot.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="All about me!"
	pubDate={new Date('August 18 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Howdy! I'm currently an IT manager at a global geothermal energy technology company. While many of my duties now are more managerial, I
		still need to run the IT, and this is one of my side projects intended to document my continued technical learnings!
	</p>
</Layout>
